:root {
    --c1: #afdb85;
    --c2: #daab73;
    --c3: #7aaed7;
    --c4: #466589;
    --c5: #fc75db;
}

body {
    background-attachment: fixed !important;
    padding: 0;
    margin: 0;
    background-image: radial-gradient(circle farthest-corner at 50% 0%,#7aaed7, #466589);
    color: white;
    text-shadow: var(--c4) 0px 2px, var(--c4) 0px -2px, var(--c4) 2px 0px, var(--c4) -2px 0px, var(--c4) 1.414px 1.414px, var(--c4) 1.414px -1.414px, var(--c4) -1.414px -1.414px, var(--c4) -1.414px 1.414px;
    display: flex;
    align-items: flex-start;
}

a,
p {
    text-decoration: none;
    color: white;
    font: 19px;
    font-family: Helvetica, sans-serif;
}

input {
    margin: .5 rem;
}

.map-container {
    display: inline-block;
}

.map-flex {
    display: flex;
    width: 750px;
}

.map {
    display: flex;
    margin: 0;
    width: 500px;
}

.sliders {
    width: 250px;
}

.structure {
    display: inline-block;
    padding: 10px 0;
    width: 400px;
}

.structure-container {
    display: inline-block;
    width: 550px;
}

.text {
    width: 550px;
}

.nav {
    padding: 10px 5px;
}

.clr-1 {
    color: var(--c1);
    -webkit-text-stroke: var(--c4) 2px 1.5px;
}

.clr-2 {
    color: var(--c2);
    -webkit-text-stroke: pink 0.015em;
}

.clr-3 {
    color: var(--c1);
}

.clr-4 {
    color: var(--c5);
    -webkit-text-stroke: black 0.01em;
}